<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Homepage
    body
        main
            a(href="/admin/addProduct") ADD
            a(href="/") SHOP
            h1 Hi from the server